html {
    font-size: 120%;
}

::selection {
    user-select: none;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@keyframes pop {
    0% {
        /* color: rgb(213, 213, 0); */
        transform: rotate(10deg);
        rotate: 10deg;
    }

    20% {
        scale: 1140%;
    }

    30% {
        color: rgb(250, 250, 21);

    }

    40% {
        box-shadow: 0 0 2rem 1rem hsl(60, 65%, 76%);
        translate: 1rem 0.5rem;
        background: hsl(60, 65%, 76%);
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes body {
    0% {
        translate: 100vw;
    }

    100% {
        transition: -50vw;
    }
}

body {
    transition: all 1s;
    color: #f9f9f9;
    background: #333;
}

.animation_1 {
    animation: pop 1s linear;
}

.animation_2 {
    animation: body 1s linear;
}

.toggler {
    cursor: pointer;
    font-size: 2rem;
    border-radius: 100%;
}

.bg--light {
    background: #f9f9f9;
    color: #333;
}

.img {
    object-fit: cover;
    width: 100vw;
}

.con-img {
    max-width: 20rem;
    height: 20rem;
    border-radius: 3rem;
}